

/*html {
  box-sizing: border-box;
  font-size: 50%;
}*/

body {
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  font-weight: 3;
  position: relative;
  background: #F5F5F5;
}
form{
	/*center it*/
	margin: auto;
	margin-top: 130px;
	width: 300px;

	/*outline*/
	padding: 1em;
	border: 1px solid #E0E0E0;
	background: white;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

label {
	/*make size uniform and align rigth*/
	display: inline-block;
	width: 150px;
	text-align: left;
	margin-bottom: 8px;
}

input, textarea {
	/*text have uniform font*/
	font: 1em sans-serif;

	/*text field uniform size*/
	width: 300px;
	box-sizing: border-box;

	/*field borders*/
	border: 1px solid #E0E0E0;
}

.input{
	height: 30px;
}

input:focus,
textarea:focus {
	border-color: #E0E0E0;
}
h1{
	font: 1.6em Roboto;
	text-align: center;
}
p{
	font: .9em Roboto;
	text-align: center;
}
h5{
	font: .6em Roboto;
	margin-top: 8px;
}
 h6{
 	font-style: italic;
 	font: .9em Roboto;
 	text-align: center;
 	line-height: 2.5; 
 }
textarea {
	vertical-align: top;

	height: 5em;
}


button {
	align-items: center;
	color: white;
	height: 30px;
	width: 300px;
	background: #3364FF;
	border: 0px;
}

.padlockspan {
	float: right;
        margin-right: 6px;
        margin-top: -20px;
        position: relative;
        z-index: 2;
        color: gray;
}